p {
    text-align: center;
    overflow: hidden;
    font-family: fantasy;
    font-size: 20px;
}

button {
    font-family: fantasy;
    font-size: 20px;
    margin: auto;
}

#end-game {
    width: 30vh;
    height: auto;
}
