p {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
}

button {
    justify-content: center;
    font-family: fantasy;
    font-size: 20px;
}

.modal {
    width: 25vh;
}

#close-button {
    margin-right: 5%;
    margin-left: 5%;
}
